@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../img/background3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    color: #000000;
    height: 75px;
    align-items: center
}

nav .logo {
    width: 50px;
    height: 30px;
    margin-right: 15px;
}
nav ul li a:hover {
    color:brown;
    opacity: 1;
    bottom: 13px;
}
nav ul li a {
    color:rgba(0, 0, 0, 0.801);
    text-decoration: none;
}
nav .title {
    display: flex;
    /* margin-left: -100px; */
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
/* end of navbar */

/*menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position : relative;
    z-index: 2;
}
.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}
/*animation */
.menu-toggle span:nth-child(2)  {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4)  {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2)  {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4)  {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3)  {
    opacity: 0;
    transform: scale(0);
}
/*responsive breakpoint*/
/* tablet */
@media screen and (max-width: 768px) {
    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        top: 0;
        width: 40%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        background-color:rgba(255, 255, 255, 0.911);
        z-index: 1;
        transition: all 1s;
        opacity: 0;
    }
    .menu-toggle {
        display: flex;
    }
    nav ul.slide {
        opacity: 1;
    }
    .number{
        border: 2px solid rgba(0, 0, 0, 0.534);
        box-shadow: 2 2 rgba(0, 0, 0, 0.349);
    }
}

.judul{
    padding: 250px 0 200px 10%;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
}
.sejajar{
    display: flex;
}
.posisi{
    margin-top: 40px;
    width: 50%;
    margin-left: 33%;
}
.sejajar1{
    display: flex;
}
#donlod{
    height: 20px;
    width: 20px;
    float: right;
    margin-bottom: 5px;
}
.sejajar2{
    display: flex;
    margin-bottom: 70px;
}
.number{
    background-color: #7DBFA1;
    padding: 10px;
    border-radius: 25%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.isi{
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
    color: black;
}
.lingkaran{
    position: fixed;
    margin: 100px 0 0px 125px;
    width: 50px;
    height: 50px;
    background-color: #80BEF5;
    border-radius: 100%;
}
.lingkaran1{
    position: fixed;
    margin: 180px 0 0px 125px;
    width: 50px;
    height: 50px;
    background-color: #F6D58A;
    border-radius: 100%;
}
.lingkaran2{
    position: fixed;
    margin: 260px 0 0px 125px;
    width: 50px;
    height: 50px;
    background-color: #F79F77;
    border-radius: 100%;
}
.lingkaran3{
    position: fixed;
    margin: 340px 0 0px 125px;
    width: 50px;
    height: 50px;
    background-color: #7DBFA1;
    border-radius: 100%;
}
#contener{
    min-height: 50%;
    position: relative;
}

.footer{
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0px;
    font-weight: 600;
}